<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c9eedda-0c56-44b5-b7c8-c083bb291164" Alias="Basic" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Basic</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-03-06T02:32:01</CreateDate>
    <NodeName Default="Basic" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ylwj3dcw/basic.json]]></Value>
    </umbracoFile>
  </Properties>
</Media>