<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="22d89d5c-e6d4-4547-af71-a68eb0295efc" Alias="jSON" Level="1">
  <Info>
    <Name>JSON</Name>
    <Icon>icon-picture</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties />
  <Structure />
  <Tabs />
</MediaType>