<?xml version="1.0" encoding="utf-8"?>
<DataType Key="749db6d9-d5df-4ceb-a48e-72cd058f8b93" Alias="FhirBoolean" Level="2">
  <Info>
    <Name>FhirBoolean</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Primitive</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>