<?xml version="1.0" encoding="utf-8"?>
<DataType Key="341df752-e3f0-48a8-8c18-f6ce44be6900" Alias="FhirDateTime" Level="2">
  <Info>
    <Name>FhirDateTime</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
    <Folder>Primitive</Folder>
  </Info>
  <Config><![CDATA[{
  "Format": "YYYY-MM-DDTHH:mm:ss+zz:zz",
  "OffsetTime": false
}]]></Config>
</DataType>