<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bba19519-2588-415f-8992-ff029c34c91e" Alias="FhirMarkdown" Level="2">
  <Info>
    <Name>FhirMarkdown</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Primitive</Folder>
  </Info>
  <Config><![CDATA[{
  "DefaultValue": null,
  "DisplayLivePreview": false,
  "OverlaySize": "small"
}]]></Config>
</DataType>