<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f5fffd71-c60c-4460-899f-a3c3c1515e0d" Alias="FhirInteger64" Level="2">
  <Info>
    <Name>FhirInteger64</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Primitive</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>