<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d0140cc9-79a3-49a4-8660-1f9903e5a7fd" Alias="FhirCodingMany" Level="2">
  <Info>
    <Name>FhirCodingMany</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Complex</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "58b963b3-bcc2-48e9-aff5-739fc38860e1",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "FhirCodingMany",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>