<?xml version="1.0" encoding="utf-8"?>
<DataType Key="431f1bd4-a672-4c89-a87b-b8cc424eb350" Alias="FhirInteger" Level="2">
  <Info>
    <Name>FhirInteger</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Primitive</Folder>
  </Info>
  <Config><![CDATA[{
  "min": -2147483648,
  "max": 2147483647
}]]></Config>
</DataType>