<?xml version="1.0" encoding="utf-8"?>
<DataType Key="94f0d6cb-355a-4da0-9219-0667718453f3" Alias="FhirString" Level="2">
  <Info>
    <Name>FhirString</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Primitive</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 1048576,
  "Rows": null
}]]></Config>
</DataType>