<?xml version="1.0" encoding="utf-8"?>
<DataType Key="55ef5c81-3646-4838-917b-aa62b968dcaf" Alias="FhirBase64Binary" Level="2">
  <Info>
    <Name>FhirBase64Binary</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Primitive</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>