<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7480844f-1ab3-4589-9a34-4dd75e5d65b5" Alias="FhirCanonicalMany" Level="2">
  <Info>
    <Name>FhirCanonicalMany</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Primitive</Folder>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>