<?xml version="1.0" encoding="utf-8"?>
<DataType Key="23aa5927-5482-4954-8ffb-110c06b99f49" Alias="FhirUuid" Level="2">
  <Info>
    <Name>FhirUuid</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Primitive</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>