<?xml version="1.0" encoding="utf-8"?>
<DataType Key="84cdef37-38ef-4c6c-8b6b-b369a92be477" Alias="FhirPositiveInt" Level="2">
  <Info>
    <Name>FhirPositiveInt</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Primitive</Folder>
  </Info>
  <Config><![CDATA[{
  "min": 1,
  "max": 2147483647
}]]></Config>
</DataType>