<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2831a8e8-2b60-408a-a60f-cc51753a95fb" Alias="FhirUrl" Level="2">
  <Info>
    <Name>FhirUrl</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Primitive</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>