<?xml version="1.0" encoding="utf-8"?>
<DataType Key="190cd65e-4bbf-4740-99c1-d183996779fc" Alias="FhirCanonical" Level="2">
  <Info>
    <Name>FhirCanonical</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Primitive</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>