<?xml version="1.0" encoding="utf-8"?>
<DataType Key="14fe58c5-227b-4d57-9160-c0b0bddd9a43" Alias="FhirCode" Level="2">
  <Info>
    <Name>FhirCode</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Primitive</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>