<?xml version="1.0" encoding="utf-8"?>
<DataType Key="de99003f-c8e3-4af3-b54c-6ea85b9c3591" Alias="FhirTime" Level="2">
  <Info>
    <Name>FhirTime</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Primitive</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>