<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e3bc1bb5-aa73-4f02-aacf-fe4d6837db1b" Alias="FhirDecimal" Level="2">
  <Info>
    <Name>FhirDecimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
    <Folder>Primitive</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>