<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c0598a08-e32d-401c-8f66-bb7efd41a8f2" Alias="FhirID" Level="2">
  <Info>
    <Name>FhirID</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Primitive</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>