<?xml version="1.0" encoding="utf-8"?>
<DataType Key="97eb1827-89a0-43ed-a464-ef0ed1e13295" Alias="FhirOid" Level="2">
  <Info>
    <Name>FhirOid</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Primitive</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>