<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c5c03e32-b334-4b85-b3d1-bc889a435a40" Alias="FhirInstant" Level="2">
  <Info>
    <Name>FhirInstant</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
    <Folder>Primitive</Folder>
  </Info>
  <Config><![CDATA[{
  "Format": "YYYY-MM-DDTHH:mm:ss.sss+zz:zz",
  "OffsetTime": true
}]]></Config>
</DataType>