<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c3e6f183-405d-4af6-817b-cdaedee21869" Alias="SearchUri" Level="2">
  <Info>
    <Name>SearchUri</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Search</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>