<?xml version="1.0" encoding="utf-8"?>
<DataType Key="edfa0cac-738b-498b-b261-0668921c071a" Alias="SearchString" Level="2">
  <Info>
    <Name>SearchString</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Search</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>