<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b7ab47d3-2a70-4533-93b3-298401972432" Alias="SearchDate" Level="2">
  <Info>
    <Name>SearchDate</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
    <Folder>Search</Folder>
  </Info>
  <Config><![CDATA[{
  "Format": "YYYY-MM-DD HH:mm:ss",
  "OffsetTime": false
}]]></Config>
</DataType>