<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8fb3025-d9e3-49c0-bd9b-d87a3986e74e" Alias="001" Level="2">
  <Info>
    <Parent Key="d4dd7aa1-e5e4-45ad-8725-185c3c5599ac">Basic</Parent>
    <Path>/Basic/</Path>
    <Trashed>false</Trashed>
    <ContentType>basic</ContentType>
    <CreateDate>2023-02-26T15:53:27</CreateDate>
    <NodeName Default="001" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <code>
      <Value><![CDATA[]]></Value>
    </code>
    <created>
      <Value><![CDATA[]]></Value>
    </created>
    <fhirId>
      <Value><![CDATA[]]></Value>
    </fhirId>
    <fHIRPath>
      <Value><![CDATA[/media/t0an2qt4/basic.json]]></Value>
    </fHIRPath>
    <identifier>
      <Value><![CDATA[]]></Value>
    </identifier>
    <implicitRules>
      <Value><![CDATA[]]></Value>
    </implicitRules>
    <language>
      <Value><![CDATA[]]></Value>
    </language>
    <lastUpdated>
      <Value><![CDATA[]]></Value>
    </lastUpdated>
    <profile>
      <Value><![CDATA[]]></Value>
    </profile>
    <security>
      <Value><![CDATA[]]></Value>
    </security>
    <source>
      <Value><![CDATA[]]></Value>
    </source>
    <subject>
      <Value><![CDATA[]]></Value>
    </subject>
    <tag>
      <Value><![CDATA[]]></Value>
    </tag>
    <versionId>
      <Value><![CDATA[]]></Value>
    </versionId>
  </Properties>
</Content>