<?xml version="1.0" encoding="utf-8"?>
<Content Key="7324d958-23ae-4197-b575-40f6cde9bdda" Alias="63558d52-c72e-4d55-9a02-3aecd9cfdc09" Level="2">
  <Info>
    <Parent Key="d4dd7aa1-e5e4-45ad-8725-185c3c5599ac">Basic</Parent>
    <Path>/Basic/d52C72e4d559a023aecd9cfdc09</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoBasic</ContentType>
    <CreateDate>2023-04-22T23:07:57</CreateDate>
    <NodeName Default="63558d52-c72e-4d55-9a02-3aecd9cfdc09" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <code>
      <Value><![CDATA[]]></Value>
    </code>
    <created>
      <Value><![CDATA[]]></Value>
    </created>
    <fhirId>
      <Value><![CDATA[]]></Value>
    </fhirId>
    <fHIRPath>
      <Value><![CDATA[]]></Value>
    </fHIRPath>
    <identifier>
      <Value><![CDATA[]]></Value>
    </identifier>
    <implicitRules>
      <Value><![CDATA[]]></Value>
    </implicitRules>
    <language>
      <Value><![CDATA[]]></Value>
    </language>
    <lastUpdated>
      <Value><![CDATA[]]></Value>
    </lastUpdated>
    <profile>
      <Value><![CDATA[]]></Value>
    </profile>
    <security>
      <Value><![CDATA[]]></Value>
    </security>
    <source>
      <Value><![CDATA[]]></Value>
    </source>
    <subject>
      <Value><![CDATA[]]></Value>
    </subject>
    <tag>
      <Value><![CDATA[]]></Value>
    </tag>
    <versionId>
      <Value><![CDATA[]]></Value>
    </versionId>
  </Properties>
</Content>