<?xml version="1.0" encoding="utf-8"?>
<Content Key="36d830e0-054f-4698-9b63-c1c20f968e65" Alias="643b92a2-db7d-46a6-9028-f6b01a9c172f" Level="2">
  <Info>
    <Parent Key="d4dd7aa1-e5e4-45ad-8725-185c3c5599ac">Basic</Parent>
    <Path>/Basic/b92a2Db7d46a69028F6b01a9c172f</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoBasic</ContentType>
    <CreateDate>2023-04-22T23:06:11</CreateDate>
    <NodeName Default="643b92a2-db7d-46a6-9028-f6b01a9c172f" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <code>
      <Value><![CDATA[]]></Value>
    </code>
    <created>
      <Value><![CDATA[]]></Value>
    </created>
    <fhirId>
      <Value><![CDATA[]]></Value>
    </fhirId>
    <fHIRPath>
      <Value><![CDATA[]]></Value>
    </fHIRPath>
    <identifier>
      <Value><![CDATA[]]></Value>
    </identifier>
    <implicitRules>
      <Value><![CDATA[]]></Value>
    </implicitRules>
    <language>
      <Value><![CDATA[]]></Value>
    </language>
    <lastUpdated>
      <Value><![CDATA[]]></Value>
    </lastUpdated>
    <profile>
      <Value><![CDATA[]]></Value>
    </profile>
    <security>
      <Value><![CDATA[]]></Value>
    </security>
    <source>
      <Value><![CDATA[]]></Value>
    </source>
    <subject>
      <Value><![CDATA[]]></Value>
    </subject>
    <tag>
      <Value><![CDATA[]]></Value>
    </tag>
    <versionId>
      <Value><![CDATA[]]></Value>
    </versionId>
  </Properties>
</Content>