<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4dd7aa1-e5e4-45ad-8725-185c3c5599ac" Alias="Basic" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Basic</Path>
    <Trashed>false</Trashed>
    <ContentType>resourceRoot</ContentType>
    <CreateDate>2023-02-26T15:19:11</CreateDate>
    <NodeName Default="Basic" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>