<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9ac49ecf-e3bd-4030-ac5a-dd5fa509c41b" Alias="elementPeriod" Level="2">
  <Info>
    <Name>ElementPeriod</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fa6206ec-061d-4193-b5fc-1b7a3c21599b</Key>
      <Name>End</Name>
      <Alias>end</Alias>
      <Definition>341df752-e3f0-48a8-8c18-f6ce44be6900</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[End time with inclusive boundary, if not ongoing]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="period">Period</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>87ab1bc6-1de3-473e-96b5-e0bdae48cbd3</Key>
      <Name>Start</Name>
      <Alias>start</Alias>
      <Definition>341df752-e3f0-48a8-8c18-f6ce44be6900</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Starting time with inclusive boundary]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="period">Period</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bd57d477-60d5-4552-ba0c-54c5dfa9bb69</Key>
      <Caption>Period</Caption>
      <Alias>period</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>