<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="58b963b3-bcc2-48e9-aff5-739fc38860e1" Alias="elementCoding" Level="2">
  <Info>
    <Name>ElementCoding</Name>
    <Icon>icon-science color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>efcc68b6-b1a2-4993-8606-bf9befe161c7</Key>
      <Name>Code</Name>
      <Alias>code</Alias>
      <Definition>14fe58c5-227b-4d57-9160-c0b0bddd9a43</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Symbol in syntax defined by the system]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="coding">Coding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7becbb0d-9bd9-4f35-b312-ee008ca5ae51</Key>
      <Name>Display</Name>
      <Alias>display</Alias>
      <Definition>94f0d6cb-355a-4da0-9219-0667718453f3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Representation defined by the system]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="coding">Coding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>553bb8dd-32d3-44b9-9f44-21cb7467fe68</Key>
      <Name>System</Name>
      <Alias>system</Alias>
      <Definition>9dfc1fd5-18ae-4d4a-bb2a-3147654442cf</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Identity of the terminology system]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="coding">Coding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6efad495-1931-425a-9793-48b28eea6e1d</Key>
      <Name>UserSelected</Name>
      <Alias>userSelected</Alias>
      <Definition>749db6d9-d5df-4ceb-a48e-72cd058f8b93</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If this coding was chosen directly by the user]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="coding">Coding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5f096872-3628-4485-82c8-ad1a2ba5a522</Key>
      <Name>Version</Name>
      <Alias>version</Alias>
      <Definition>94f0d6cb-355a-4da0-9219-0667718453f3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Version of the system - if relevant]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="coding">Coding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>69804e23-b831-4573-a6c4-c0e034549d03</Key>
      <Caption>Coding</Caption>
      <Alias>coding</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>