<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="47fb4da0-50ee-4fec-bb77-d67cd2f9c65d" Alias="elementIdentifier" Level="2">
  <Info>
    <Name>ElementIdentifier</Name>
    <Icon>icon-science color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1241be9f-f939-42d1-a24b-e0ff7ea910f4</Key>
      <Name>Period</Name>
      <Alias>period</Alias>
      <Definition>15aecb5e-7dd9-4f41-8939-81a0dd2adaeb</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="identifier">Identifier</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fb178c77-d708-4ad2-817d-46cded3e813a</Key>
      <Name>System</Name>
      <Alias>system</Alias>
      <Definition>9dfc1fd5-18ae-4d4a-bb2a-3147654442cf</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="identifier">Identifier</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>257477f7-378f-4041-97fe-9675a0c04cdb</Key>
      <Name>Type</Name>
      <Alias>type</Alias>
      <Definition>01b061f4-1aca-4bbc-b08b-02b52bc77853</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="identifier">Identifier</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9835f6b5-df26-4527-82c3-c75b604a883c</Key>
      <Name>Use</Name>
      <Alias>use</Alias>
      <Definition>14fe58c5-227b-4d57-9160-c0b0bddd9a43</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[usual | official | temp | secondary | old (If known)
IdentifierUse (Required)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="identifier">Identifier</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>734e7964-fa95-4797-a492-e2afed8fec59</Key>
      <Name>Value</Name>
      <Alias>value</Alias>
      <Definition>94f0d6cb-355a-4da0-9219-0667718453f3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The value that is unique]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="identifier">Identifier</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3d87ea7d-6a4d-4999-9460-4807eacb0381</Key>
      <Caption>Identifier</Caption>
      <Alias>identifier</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>