<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="48f94213-2eed-4428-8017-464ee870666e" Alias="elementCodeableConcept" Level="2">
  <Info>
    <Name>ElementCodeableConcept</Name>
    <Icon>icon-science color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>09e00750-a32a-45b4-9931-23ad2840398d</Key>
      <Name>Coding</Name>
      <Alias>coding</Alias>
      <Definition>d0140cc9-79a3-49a4-8660-1f9903e5a7fd</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Code defined by a terminology system]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="codeableConcept">CodeableConcept</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1fa8802a-1905-460f-93d1-5f49600d4f21</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>94f0d6cb-355a-4da0-9219-0667718453f3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Plain text representation of the concept]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="codeableConcept">CodeableConcept</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4a7f11a6-77b5-4ce9-afb4-964213f1b64c</Key>
      <Caption>CodeableConcept</Caption>
      <Alias>codeableConcept</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>