<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="20dc9388-1508-4a8e-a6a7-67078498ef51" Alias="resource" Level="2">
  <Info>
    <Name>Resource</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Resource</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>88145a04-abcd-412e-a530-f29aab1215cb</Key>
      <Name>FhirId</Name>
      <Alias>fhirId</Alias>
      <Definition>c0598a08-e32d-401c-8f66-bb7efd41a8f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Logical id of this artifact]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="resource">Resource</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fa35b1bb-149d-468c-8a81-f426feb0712e</Key>
      <Name>FHIR Path</Name>
      <Alias>fHIRPath</Alias>
      <Definition>84c6b441-31df-4ffe-b67e-67d5bc3ae65a</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="resource/fhirContent">Fhir Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c53faf19-e79b-4f3c-9919-297b7e89f0c4</Key>
      <Name>ImplicitRules</Name>
      <Alias>implicitRules</Alias>
      <Definition>9dfc1fd5-18ae-4d4a-bb2a-3147654442cf</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A set of rules under which this content was created]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="resource">Resource</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>61d226f3-5e8f-4cf4-99fa-5aa4ec993306</Key>
      <Name>Language</Name>
      <Alias>language</Alias>
      <Definition>14fe58c5-227b-4d57-9160-c0b0bddd9a43</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="resource">Resource</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6a88bbb0-751f-4696-8c7c-42ff47c82d2e</Key>
      <Name>LastUpdated</Name>
      <Alias>lastUpdated</Alias>
      <Definition>c5c03e32-b334-4b85-b3d1-bc889a435a40</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[When the resource version last changed]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="resource/meta">Meta</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ed360093-e1c0-434d-b8b5-70a356eac535</Key>
      <Name>Profile</Name>
      <Alias>profile</Alias>
      <Definition>7480844f-1ab3-4589-9a34-4dd75e5d65b5</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Profiles this resource claims to conform to]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="resource/meta">Meta</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>da25bb36-2d77-446a-8038-d7217c8fb43f</Key>
      <Name>Security</Name>
      <Alias>security</Alias>
      <Definition>d0140cc9-79a3-49a4-8660-1f9903e5a7fd</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Security Labels applied to this resource]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="resource/meta">Meta</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>697e71ed-2f8b-47aa-9da1-b98efc1298dc</Key>
      <Name>Source</Name>
      <Alias>source</Alias>
      <Definition>9dfc1fd5-18ae-4d4a-bb2a-3147654442cf</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Identifies where the resource comes from]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="resource/meta">Meta</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6514a61d-af33-417e-83b8-1ffd12f69efe</Key>
      <Name>Tag</Name>
      <Alias>tag</Alias>
      <Definition>d0140cc9-79a3-49a4-8660-1f9903e5a7fd</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tags applied to this resource]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="resource/meta">Meta</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6ac96e1b-c05b-4791-863b-4608ca013374</Key>
      <Name>VersionId</Name>
      <Alias>versionId</Alias>
      <Definition>c0598a08-e32d-401c-8f66-bb7efd41a8f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Version specific identifier]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="resource/meta">Meta</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0fc369b9-81ce-473e-9c43-0cb55ba54a5f</Key>
      <Caption>Fhir Content</Caption>
      <Alias>resource/fhirContent</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>661e5a93-3660-4a9b-85f7-10bc0f808f74</Key>
      <Caption>Meta</Caption>
      <Alias>resource/meta</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>a17c2eb6-07c7-40ce-8ef9-9b1eb65dc8d1</Key>
      <Caption>Resource</Caption>
      <Alias>resource</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>