<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3fb4443d-a8c1-4717-8697-ec8f4ab97980" Alias="umbracoBasic" Level="3">
  <Info>
    <Name>UmbracoBasic</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="20dc9388-1508-4a8e-a6a7-67078498ef51">resource</Parent>
    <Compositions>
      <Composition Key="20dc9388-1508-4a8e-a6a7-67078498ef51">resource</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>709ba1b7-6cec-4b34-b2ed-fe2272983878</Key>
      <Name>Author</Name>
      <Alias>author</Alias>
      <Definition>c1ae09b4-7653-465c-ac81-9fa474112a79</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2db893ed-fafa-4386-9fc9-3147557bca0b</Key>
      <Name>Code</Name>
      <Alias>code</Alias>
      <Definition>9c019cf3-f160-4e03-a098-43dc2cfa9c6a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1fd27f5f-d48e-4f23-ba3d-df44f7ec907b</Key>
      <Name>Created</Name>
      <Alias>created</Alias>
      <Definition>a92cf6be-eb5a-4202-b03b-1eaa3940c033</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d532a1f5-11b0-4e99-9a30-1bae564ed05d</Key>
      <Name>Identifier</Name>
      <Alias>identifier</Alias>
      <Definition>9c019cf3-f160-4e03-a098-43dc2cfa9c6a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>76e3928e-70c2-46ca-a7c2-7ba39a4553bb</Key>
      <Name>Subject</Name>
      <Alias>subject</Alias>
      <Definition>c1ae09b4-7653-465c-ac81-9fa474112a79</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ff40e603-dfd2-441c-8747-e26324cc874d</Key>
      <Caption>Search</Caption>
      <Alias>search</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>